	/* flex内容区 */
		.active {
			margin: 0 20upx;
		}
		
		.conteng {
			display: flex;
			flex-wrap: warp;
			justify-content: space-between;
			width: 100%;
			-webkit-flex-wrap: wrap;
			overflow: hidden;
		}
		
		.conteng-article {
			width: 48%;
			flex-direction: column;
			display: flex;
			box-sizing: border-box;
		}
		
		.purchase {
			display: flex;
			align-items: center;
			padding-bottom: 10upx;
		}
		
		.conteng-img {
			height: 400upx !important;
			object-fit: cover;
			overflow: hidden;
		}
		
		.conteng-img image {
			width: 100% !important;
			height: 100% !important;
			object-fit: cover;
			border-radius: 10rpx;
		}
		
		.active-name {
			font-size: 32upx;
			color: #d0b083;
			margin: 10upx 0;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			overflow: hidden;
		}
		
		.active-title {
			font-size: 32upx;
			color: #444444;
			font-weight: bold;
			line-height: 50upx;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			height: 100upx !important;
		}
		
		.active-label {
			font-size: 25upx;
			color: #d0b083;
			padding: 10upx 0;
		}
		
		.active-price {
			font-size: 36upx;
			color: #ff6b28;
			padding-right: 9upx;
		}
		
		.active-purchase {
			font-size: 30upx;
			color: #cacaca;
		}
		
		.active-introduce {
			padding-left: 10upx;
		}